.region-content-pre {
  overflow: hidden;
  width: 100%;
  padding: 0 15px;
  display: none;
}

.region-content-pre.js-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}