// Blog

.blog-top,
.blog-main,
.blog-bottom,
.field-name-field-related-categories {
  clear: both;
  margin-bottom: 20px;
}

.blog-top {
  overflow: hidden;
  .field-name-post-date {
    float: left;
  }
  .sharethis-buttons {
    float: right;
  }
}

.field-name-node-link,
.field-name-field-body {
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.field-name-node-link {
  text-align: right;
}

.field-name-post-date {
  margin-bottom: 6px;
}

.field-name-field-related-products {
  .field-item {
    float: left;
  }
}